@tailwind base;

:root {
	--primary: #111827;
	--secondary: #64748b;
      }

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 14px;
	border: 2px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

body {
	background-color: #1f2937;
}